
mat-table{
  overflow: auto;
  max-height: 80vh;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
mat-header-row{
  background-color: white;
}
mat-cell{
  overflow:visible;
}

.tooltip:before, .tooltip:after{
  z-index:150
}

mat-table::-webkit-scrollbar{
  display: none;

}
